<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='formularios.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    
    <header>
        <h1>Registre-se</h1>
    </header>

    <main>
        <form action="{{ url_for('cadastro') }}" method="POST">

            
            <div class="email">
                <i class="fa-regular fa-user"></i>
                <input type="text" name="nome" placeholder="Nome" required>
            </div>

            <div class="email">
                <i class="fa-regular fa-user"></i>
                <input type="email" name="email" placeholder="E-mail" required>
            </div>
            
            <div class="senha">
                <i class="fa-solid fa-key"></i>
                <input type="password" name="senha" placeholder="Senha" required>
            </div>
            <button type="submit">Cadastrar</button>
            <a style=" color: #7BA05B;" href="{{url_for('login')}}">Já tem uma conta? Entre aqui</a>             
        </form>
    </main>
</body>
</html>