<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial - Flaubin Store   </title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <link rel="icon" href="{{url_for('static', filename='imagens/correto.png')}}" type="image/x-icon">

</head>
<body>


    <main>
        <div class="text_container">
            <h1>Descubra a Flaubin Store: o seu universo dos produtos!</h1>
            <p>
                Na Flaubin Store, cada clique aproxima você
                das melhores inovações do mercado. 
                Smartphones, notebooks, acessórios e
                os mais modernos aparelhos tecnológicos
                estão reunidos em um só lugar, com qualidade
                garantida e preços que cabem no seu bolso.
            </p>
            <div class="botoes">
                <button class="cadastro">
                    <a href="{{url_for('cadastro')}}">Cadastre-se</a>
                </button>
                <button class="login">
                    <a href="{{url_for('login')}}">Login</a>
                </button>
            </div>
        </div>
    </main>
</body>
</html>